/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/* Partie Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 30px;
}
.header-right{
    display: flex;
    flex-direction: row;
}

#logo {
    width: 61.09px;
    height: 19px;
    margin: 30px;
}

.header_btn{
    background-color: white;
    font-size: 16px;
    border: 0;
    margin: 0 34px;
    padding-top: 14px;
}

.header_btn:hover{
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
    
}
/* HERO */
h1 {
    font-size: 22px;
    padding-bottom: 0;
    margin-bottom: 4px;
}
.hero p {
    font-size: 16px;
    padding-top: 0;
    margin-top: 4px;
}


 /* SEARCH BAR */
 .searchBar{
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 15px;
    width: fit-content;
    height: auto;
 }
.location-icon {
    padding: 18px 15px;
    color: #000000;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.searchInput{
    padding: 0 15px;
    border-width: 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    
}
.searchInput::placeholder{
    color: #000000;
}
.searchBtn {
    background-color: var(--main-color);
    color: white;
    padding: 18px 15px;
    border-radius: 0 15px 15px 0;
    border: 0;
}

/* Filtres */
.filter{
    display: flex;
    flex-direction: row;
    margin: 35px 0;
    align-items: center;
}
.filter-title{
    margin-right: 15px;
}
.filterBtn{
    background-color: white;
    padding: 0;
    margin-right: 15px;
    height: 50px;
    box-shadow:inset 0px 0px 0px 2px #D9D9D9;
    border: 0px solid #D9D9D9;
    border-radius: 25px;
}

.filterBtn:hover{
    background-color: #DEEBFF;
}
.filter-fa{
    margin-right: 10px;
    height: 18px;
    width: 22px;
}
.filter-text{
    margin: 0 19px;
    font-size: 17px;
    font-weight: bold;
}
.fa-info {
    font-size: 10px;
    padding: 7px 10px;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
    margin-right: 10px;
}
/* Partie Body */
body {
    display: flex;
    justify-content: center;
    margin: 0;
}
main {
    margin: 0 50px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
#hebergements-grid{
    display: grid;
    max-width: 811px;
    grid-template-columns: repeat(3, 250px);
    grid-gap: 30px;
}
.grid-card {
    height: 207px;
}
.grid-img{
    height: 124px;
    width: 250px;
    border-radius: 20px 20px 0 0;
    padding: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Partie activités */
.activites{
    margin-top: 35px;
}
.activites-title{
    margin-left: 30px;
}
#all-activities-cards{
    display: flex;
    flex-direction: row;
    margin: 15px;
}
.card-activites{
    width: 298px;
    height: 439px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px #00000010;
    overflow:hidden;
    
}
.card-activites:hover{
    box-shadow: 0px 3px 15px #00000025;
}
.card-activites img{
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.card-activites h3 {
    margin: 20px 19px;
    font-size: 16px;
}
/* FOOTER PART */
footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    padding: 20px;
    margin-top: 35px;
}
.footer-part{
    width: 100%;
}
h4 {
    font-size: 18px;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
    margin-top: 15px;
}
a {
    text-decoration: none;
    color: #000000;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}